<a href="https://colab.research.google.com/github/BAIKJUWON/ANU_Cprogramming1/blob/main/Bigdata/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#순차문

In [ ]:
num = 1
print(num)
num = num+1
print(num)
num=num+1
print(num)

1
2
3

In [ ]:
age = int(input("input age : "))

if age<20:
  print("청소년 할인 적용")
print("입장권 발권")

input age : 19
청소년 할인 적용
입장권 발권

In [ ]:
hour = 13

if hour<12:
  print("오전")

else :
  print("오후")

오후

#논리연산자

In [ ]:
5<6 and 6<8

True

##윤년판별

In [ ]:
year = int(input("연도를 입력하세요 : "))
if year % 4 == 0 and year % 100 != 0 or year%400==0:
  print("윤년 입니다.")

else:
  print("윤년이 아닙니다.")

연도를 입력하세요 : 2024
윤년 입니다.

In [ ]:
score = int(input("점수를 입력하세요 : "))

if score >= 90 :
  print("A")

elif score >= 80:
  print("B")

elif score >= 70:
  print("C")

elif score >= 60:
  print("D")

else:
  print("F")

점수를 입력하세요 : 100
A

#반복문(for)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(2,10,2))

[2, 4, 6, 8]

In [ ]:
for i in range(100,0,-1):
    print(f"{i:3}",end=' ')
    if i%10 == 1:
      print()

100  99  98  97  96  95  94  93  92  91
 90  89  88  87  86  85  84  83  82  81
 80  79  78  77  76  75  74  73  72  71
 70  69  68  67  66  65  64  63  62  61
 60  59  58  57  56  55  54  53  52  51
 50  49  48  47  46  45  44  43  42  41
 40  39  38  37  36  35  34  33  32  31
 30  29  28  27  26  25  24  23  22  21
 20  19  18  17  16  15  14  13  12  11
 10   9   8   7   6   5   4   3   2   1

In [ ]:
s = 'hello'

for i in s:
  print(i)

h
e
l
l
o

In [ ]:
t = 0
for i in [10,20,30,40,50]:
  t+=i

print(t)

150

In [ ]:
num = 0
for i in range(1,101):
  num+=i

print(num)

5050

In [ ]:
tot = 0
for i in range(100,0,-1):
    print(f"{i:3d}",end=' +')
    tot+=i
    if i%10 == 1:
      print()
print(f'={tot}')

100 + 99 + 98 + 97 + 96 + 95 + 94 + 93 + 92 + 91 +
 90 + 89 + 88 + 87 + 86 + 85 + 84 + 83 + 82 + 81 +
 80 + 79 + 78 + 77 + 76 + 75 + 74 + 73 + 72 + 71 +
 70 + 69 + 68 + 67 + 66 + 65 + 64 + 63 + 62 + 61 +
 60 + 59 + 58 + 57 + 56 + 55 + 54 + 53 + 52 + 51 +
 50 + 49 + 48 + 47 + 46 + 45 + 44 + 43 + 42 + 41 +
 40 + 39 + 38 + 37 + 36 + 35 + 34 + 33 + 32 + 31 +
 30 + 29 + 28 + 27 + 26 + 25 + 24 + 23 + 22 + 21 +
 20 + 19 + 18 + 17 + 16 + 15 + 14 + 13 + 12 + 11 +
 10 +  9 +  8 +  7 +  6 +  5 +  4 +  3 +  2 +  1 +
=5050

In [ ]:
#dan = 2
for j in range(1,10):
  for i in range(2,10):
    print(f"{i} * {j} = {j*i:2d}",end='\t')
  print()

2 * 1 =  2	3 * 1 =  3	4 * 1 =  4	5 * 1 =  5	6 * 1 =  6	7 * 1 =  7	8 * 1 =  8	9 * 1 =  9
2 * 2 =  4	3 * 2 =  6	4 * 2 =  8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 =  6	3 * 3 =  9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 =  8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

#while

In [ ]:
i = 1

while i< 5:
  print(i)
  i+=1

1
2
3
4

In [ ]:
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
i = 0
while i<10:
  print(i, end=' ')
  i+=1

0 1 2 3 4 5 6 7 8 9

In [ ]:
i = 1
s = 0
while i<11:
  #print(i,end=' ')
  s+=i
  if s>30:
    i+=1
print(f'1+2+...+10={s}')

1+2+...+10=85

In [ ]:
string1 = 'python'
for ch in string1:
  if ch in ['a','e','i','o','u']:
    break
  print(ch)

p
y
t
h

In [ ]:
string1 = 'python'

for ch in string1:
  if ch in ['a','e','i','o','u']:
    continue
  print(ch)

p
y
t
h
n

In [ ]:
list1 = [n for n in range(1,11)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list2 = [n for n in range(1,11) if n%2==1]
list2

[1, 3, 5, 7, 9]

In [ ]:
a = [1,3,5,7,9]
list3 = [n*2 for n in a]
list3

[2, 6, 10, 14, 18]

In [ ]:
list4 = [n for n in 'python']
list4

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
c = None
while c not in ['가위','바위','보']:
  c = input('가위,바위,보 선택')
print(f'선택한 값 : {c}')

가위,바위,보 선택묵
가위,바위,보 선택찌
가위,바위,보 선택가위
선택한 값 : 가위